.form {
  border-radius: 10px;
  box-shadow: $shadow1;
  margin: 100px auto;
  padding: 20px;

  .title {
    h1 {
      color: gray(60);
      font-size: 2em;
      font-weight: 300;
      margin: 0px;
    }
  }

  input,
  select {
    border: 1px solid gray(200);
    border-radius: 100px;
    margin-right: 10px;
    outline: none;
    padding: 10px 15px;

    &:focus {
      border-color: $themeColor;
    }
  }

  .text,
  .select,
  .checkbox {
    display: inline-block;
    vertical-align: top;

    .label {
      color: gray(60);
      font-size: 0.8em;
      font-weight: 400;
      margin: 0px;
      margin-bottom: 2px;
      margin-left: 15px;
    }

    input,
    select {
      color: gray(60);
      line-height: 20px;
    }

    input {
      height: 20px;
      width: 168px;
    }

    select {
      height: 42px;
      padding-left: 10px;
      width: 200px;
    }
  }

  .button {
    &.submit {
      margin-top: 20px;
    }

    button {
      background-color: $themeColor;
      border: none;
      border-radius: 100px;
      color: white;
      display: block;
      margin: auto;
      outline: none;
      padding: 10px;
      width: 400px;

      &:hover,
      &:focus {
        box-shadow: $shadow1;
        cursor: pointer;
      }
    }
  }

  .checkbox {
    height: 59px;
    position: relative;
    input {
      cursor: pointer;
      height: 42px;
      left: 0px;
      margin: 0px;
      opacity: 0;
      position: absolute;
      top: 17px;
      width: 72px;

      &:hover,
      &:focus {
        ~ .checkbox-toggle-track {
          .checkbox-toggle {
            box-shadow: $shadow2;
          }
        }
      }

      &:focus {
        ~ .checkbox-toggle-track {
          border-color: $blue;
        }
      }

      &:checked {
        ~ .checkbox-toggle-track {
          background-color: rgba($blue, 0.25);
          .checkbox-toggle {
            left: 100%;
            transform: translateX(-100%);
          }
        }
      }
    }

    .checkbox-toggle-track {
      border: 1px solid gray(200);
      border-radius: 100px;
      display: inline-block;
      height: 40px;
      left: 0px;
      pointer-events: none;
      position: absolute;
      width: 70px;

      .checkbox-toggle {
        background-color: $blue;
        border-radius: 100px;
        height: 40px;
        left: 0px;
        position: absolute;
        top: 0px;
        transition: all 0.25s;
        width: 40px;
      }
    }
  }
}
