.form {
  border-radius: 10px;
  box-shadow: $shadow1;
  margin: 100px auto;
  padding: 20px;

  .title {
    h1 {
      color: gray(60);
      font-size: 2em;
      font-weight: 300;
      margin: 0px;
    }
  }

  input,
  select {
    border: 1px solid gray(200);
    border-radius: 100px;
    margin-right: 10px;
    outline: none;
    padding: 10px 15px;

    &:focus {
      border-color: $themeColor;
    }
  }

  .text,
  .select {
    display: inline-block;
    vertical-align: top;

    .label {
      color: gray(60);
      font-size: 0.8em;
      font-weight: 400;
      margin: 0px;
      margin-bottom: 2px;
      margin-left: 15px;
    }

    input,
    select {
      color: gray(60);
      line-height: 20px;
    }

    input {
      height: 20px;
      width: 168px;
    }

    select {
      height: 42px;
      padding-left: 10px;
      width: 200px;
    }
  }

  .button {
    &.submit {
      margin-top: 20px;
    }

    button {
      background-color: $themeColor;
      border: none;
      border-radius: 100px;
      color: white;
      display: block;
      margin: auto;
      outline: none;
      padding: 10px;
      width: 400px;

      &:hover,
      &:focus {
        box-shadow: $shadow1;
        cursor: pointer;
      }
    }
  }
}
