.section {
  border: 1px solid gray(200);
  border-left: 2px solid gray(120);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;

  &.no-title {
    border: none;
    border-radius: 0px;
    padding: 0px;
  }

  .children {
    margin-top: 10px;
  }
}
