.section {
  border-radius: 10px;
  box-shadow: $shadow1;
  padding: 20px;
  position: relative;

  &.loading {
    .title,
    .fields,
    .submit-button {
      opacity: 0;
      transform: scale(0.5);
    }

    .loading-indicator {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }

  &:nth-child(n + 2) {
    margin-top: 20px;
  }

  &.sub-section {
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
  }

  .title,
  .fields,
  .submit-button {
    transition: all 0.25s;
  }

  .title {
    h1 {
      color: gray(60);
      font-size: 2em;
      font-weight: 300;
      margin: 0px;
    }
  }

  .fields {
    margin-top: 20px;
  }
}
