.table {
  border: 1px solid gray(220);
  border-radius: 10px;
  .headers {
    padding: 0px 10px;
    .header {
      display: inline-block;
      vertical-align: top;
      h1 {
        color: $blue;
        font-size: 0.8em;
        margin: 0px;
        padding: 20px 10px;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }

  .rows {
    .row {
      padding: 0px 10px;
      &:nth-of-type(even) {
        background-color: rgba(gray(200), 0.25);
      }

      .cell {
        display: inline-block;
        vertical-align: top;

        .value {
          h1 {
            color: gray(60);
            font-weight: 400;
            margin: 0px;
            padding: 20px 10px;
            text-align: left;

            input {
              width: auto;
            }

            .input.checkbox {
              input {
                height: 30px;
                width: 48px;
              }

              .checkbox-toggle-track {
                height: 28px;
                width: 48px;

                .checkbox-toggle {
                  height: 28px;
                  width: 28px;
                }
              }
            }
          }
        }
      }
    }
  }

  .table-message {
    text-align: center;

    &.error {
      h1 {
        color: $red;
      }
    }

    h1 {
      color: $blue;
      font-weight: 400;
      padding: 20px;
      position: relative;
    }
  }
}
